li:hover {
    cursor: pointer;
}

.displayBox {
    height: 275px;
    width: auto;
}

h3 {
    text-align: center;
}

ul {
    color: #93951d;
}

.container {
    background-color: #fff4ba;
    margin-left: 50px;
}
